* {
        color: #FFFFFF;

        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.body {
        background-color: #212121;
}

/* 
        NAVBAR
*/

ul.navbar {

        position: fixed;
        top: 0;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        width: 100%;
        background: #212121;

}

li.right a{
        float: right !important;
}

li.left a{
        float: left !important;
}